<nav class="navigation">
    <a href="/">Чат</a>
    <a href="/profile">Профиль</a>
    <a href="/logout" name="logout">Выйти</a>
</nav>
<p> <i>Вы вошли как {{{userName}}}</i> </p>
<div class = "messageContainer"></div>
<div>
    {{#if waitMessage}}
        <p > {{{ waitMessage }}}</p>
    {{/if}}
<!--<form method="post" action="/avatar" enctype="multipart/form-data">
    <input type="file" >
</form>-->
<input type="file" id="attach" name="attach" class="attachButton" accept="video/*" title="Видео">
<!--<button  id="attach" class="attachButton">Видео</button>-->
<input type="text" class="messageInput" id = "messageText" autocomplete="off">
<button  id="mainButton" class="messageButton">Отправить</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/main.js"></script>
